:root {
    --turquoise: rgb(75, 189, 168);
}

a:hover {
    color: var(--turquoise) !important;
}

.nav-link:hover {
    color: var(--turquoise) !important;
    text-shadow:0.5px 0.5px 0.5px #0b0b0b !important;
}

h1, h2 {
    padding: 2%;
}

li {
    margin: 1%;

}

.photo {
    height: 30%;
    width: 30%;
    border-radius:40%;
    border: 2px solid var(--turquoise);
    box-shadow: 3px 3px 20px 2px;
}

.CardContainer{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center;  */

}

.card {
    background: #fff;
    margin: 2rem;
    box-shadow: 3px 3px 20px 2px;
    border:2px solid var(--turquoise) !important;
    height: 580px !important;
    width: 500px;

}


.button {
    background-color: var(--turquoise) !important;
    color: black !important;
    border-color: #999 !important;
    padding: 10px;
    margin: 1rem;
}

.button:hover {
    box-shadow: 0 6px 10px gray;
}

.form {
    background-color: rgb(213, 225, 219);
    display:inline-block;
    width: 40%;
}

span {
	color: var(--turquoise);
	font-weight: bolder;
}
